<table class="table table-bordered" sort [sort]="currentSort$ | async" (columnSorted)="onColumnSorted($event)">
  <thead class="thead-light">
    <th [sort-header]="header.name" *ngFor="let header of tableHeaders" class="clickable-item"
      [ngStyle]="{'width': header.sizeInPercent}">
      {{header.name}}
    </th>
  </thead>

  <tbody>
    <ng-container *ngIf="userItems$ | async as items">
      <tr *ngFor="let item of items">
        <td *ngFor="let column of tableHeaders">
          {{item[column.name]}}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>